body {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 100%;
}

.container {
  width: auto;
}

html, body {
  height: 100%;
}

#map {
  width: 100%;
  height: 600px;
}

#list_result {

}
.custom-popup {
  font-size:   10pt;
  line-height: 10pt;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #0080FF;
  color: #FFFFFF;
}
